/* Home Screen */

position: absolute;
width: 393px;
height: 852px;
left: 2935px;
top: 5305px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 66px;


/* Map View */

position: absolute;
width: 393px;
height: 852px;
left: 3630px;
top: 5305px;

background: #FFFFFF;
border-radius: 66px;


/* Map View */

position: absolute;
width: 393px;
height: 852px;
left: 4757px;
top: 3317px;

background: #FFFFFF;
border-radius: 66px;


/* Map View */

position: absolute;
width: 393px;
height: 852px;
left: 4195px;
top: 3317px;

background: #FFFFFF;
border-radius: 66px;


/* Map View */

position: absolute;
width: 393px;
height: 852px;
left: 3633px;
top: 3317px;

background: #FFFFFF;
border-radius: 66px;


/* Filter View */

position: absolute;
width: 393px;
height: 852px;
left: 3633px;
top: 4311px;

background: #FFFFFF;
border-radius: 66px;


/* Report View */

position: absolute;
width: 393px;
height: 852px;
left: 4305px;
top: 5305px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 2978px;
top: 6523px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 3434px;
top: 7515px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 3912px;
top: 7515px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 4342px;
top: 6523px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 4342px;
top: 7515px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 2978px;
top: 8485px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 3411px;
top: 8485px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 5594px;
top: 6260px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 5594px;
top: 7230px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 6027px;
top: 7230px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 6027px;
top: 6260px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 6460px;
top: 6260px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 6893px;
top: 6260px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 6460px;
top: 7230px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 6893px;
top: 7230px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 9130px;
top: 8694px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 8697px;
top: 8694px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 8264px;
top: 8694px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 7831px;
top: 8694px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 7398px;
top: 8694px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 6965px;
top: 8694px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 6532px;
top: 8694px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 2978px;
top: 7515px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 3912px;
top: 6523px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 3434px;
top: 6523px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 1922px;
top: 993px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 2378px;
top: 1985px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 2856px;
top: 1985px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 3286px;
top: 993px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 3286px;
top: 1985px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 1922px;
top: 2955px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 2355px;
top: 2955px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 1922px;
top: 1985px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 2856px;
top: 993px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 2378px;
top: 993px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 9262px;
top: 2167px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 8829px;
top: 2167px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 8396px;
top: 2167px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 7963px;
top: 2167px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 7530px;
top: 2167px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 7097px;
top: 2167px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 6664px;
top: 2167px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 4327px;
top: 734px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 4327px;
top: 1704px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 4760px;
top: 1704px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 4760px;
top: 734px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 5193px;
top: 734px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 5626px;
top: 734px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 5193px;
top: 1704px;

background: #FFFFFF;
border-radius: 66px;


/* Incident View */

position: absolute;
width: 393px;
height: 852px;
left: 5626px;
top: 1704px;

background: #FFFFFF;
border-radius: 66px;
